*{
    margin: 0;
	padding: 0;
    font-family: 'Open Sans';
    box-sizing: border-box;
	}

    
body {
        line-height: 1;
        max-width: 1200px;
        background-color: rgb(243, 246, 248);
    }
main{
        width: 90%;
        margin: 0 auto;
        overflow: hidden;
        padding: 100px 0;
        height: auto;
    }    

header{
    width: 80%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 246, 248);
}

.logo{
    width: 10%;
    height: 20%;
}


.menu a{
    text-decoration: none;
    padding: 0 10px;
    color: black;
    font-weight: bold;
    transition: 0.4s;
}

.show-menu, .hide-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.show-menu{
    order: 1;
}

.menu a:hover, .show-menu:hover, .hide-menu:hover{
    color: rgb(243, 82, 82);
}
#check{
    display: none;
}
/*RESPONSIVE*/
@media(max-width: 768px){
    .show-menu,
    .hide-menu{display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(243, 246, 248);
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        transition: 0.8s;
    }
    .menu a{
        display: block;
        padding: 15px;
    }
    .hide-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
}

/*
.row{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-weight: bold;

}

.nav-link{
    margin: 2em;
    text-decoration: none;
    color: black;
    
}
.nav-link:hover{
    color: rgb(243, 82, 82)
}

#buttom1{
    text-decoration: none;
    color: rgb(243, 82, 82);
    border-style: solid;
    border-color: rgb(243, 82, 82);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
}

#dropdown{
/*cursor: pointer;CREO QUE VA EN NAVEGADOR*//*
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    display: block;
}
#dropdown:hover .dropdown-content{
    display: block;
  }

#buttom1:hover{
    color:black;
}
*/
#introduction{
    margin-top: 15em;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 475%;
}

.intro{
    margin-right: 4em;
    margin-left: 4em;
    margin-top: 2em;
    font-size: 150%;
    color:rgb(94, 93, 93);
}

#download{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    gap: 20px;
}

.buttom2{
    background-color: rgb(243, 82, 82);
    border-style: solid;
    border-color: rgb(243, 82, 82);
    border-radius: 20px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    justify-content: center;
    color: white;
    display: inline-flex;
}

.buttom-icon{
    width: 12.99px;
    height: 18.99px;
    
}

.buttom3{
    background-color: rgb(243, 82, 82);
    border-style: solid;
    border-color: rgb(243, 82, 82);
    border-radius: 20px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
    justify-content: center;
    color: white;
    display: inline-flex;
}

.buttom-icon-arrow{
    width: 15.99px;
    height: 18.99px;
}


.img-introduction{
    width: 70%;
    height: auto;
    margin-top: 10%;
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
  }
  

#five-icons{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    /*justify-content: center;*/
    align-items: center;
    list-style: none;
    font-weight: bold;
    justify-content: space-evenly;
    margin-top: 2em;
    gap: 5%;
}

.icon{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-img{
    width: 5rem;
    height: 6rem;
    
}

.icon-one{
    background-color: rgb(230, 168, 242);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes icon-one{
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes icon-one {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.icon-two{
    background-color: rgb(175, 244, 201);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.icon-three{
    background-color: rgb(254, 198, 235);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.icon-four{
    background-color: rgb(248, 252, 170);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.icon-five{
    background-color: rgb(199, 208, 247);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    -webkit-animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: icon-one 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

#pinocho{
    background-color: rgb(219, 229, 244);
    height: 50%;
    margin-top: 20%;
    padding-top: 12%;
    padding-bottom: 15%;
   
}

#p-icon2{
    font-size: 60px;
    justify-content: center;
   
    
}
#p-icon3{
    font-size: 14px;
    justify-content: center;
    color: rgb(94, 93, 93);
}


/*

@-ms-viewport {
        width: device-width;
    }
    
html {
        box-sizing: border-box;
    }

}*/



/*
.nav-link{
    display: flex;
    color:black;
    padding: 10px 30px;
    text-decoration: none;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    justify-content: center;
    
}

.nav-link: hover{
/*EFECTO BRILLO*/
}

/*#introduction{
    position: relative;
    top: 100px;
    
}



